body {font-family:arial;font-size:13px;cursor:default;color:AAAAAA}
td {
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-size:13px;
    cursor:default;
    color:AAAAAA
    /*border-radius: 5px;*/
}​
a {color:3A88C2;text-decoration:none;font-size:13px}
a:hover {color:3A88C2;text-decoration:underline;font-size:14px}
input {border-width:1;
       font-family:arial;font-size:13px;padding:2px;height:21px;
       border-color:CCCCCC;border-style:solid;
       background-color:F9F9F9;color:999999
}
.logo{
font-size:35px;color:222244;font-family:Comic Sans, Comic Sans MS, cursive;
}
.slogan{
font-size:14px;color:333333;padding:18 0 0 10;font-family:Comic Sans, Comic Sans MS, cursive;text-align: left;
}
.itemtitle{
    font-size:18px;color:#ffffff;font-family:Comic Sans, Comic Sans MS, cursive;
    background-color: 20209F;
}

.itemtext{
    color:888888;
    line-height:1.6em;
}
.papertitle{
    color:459F20;
    font-size: 13px;
}
.conference{
    color:333333;
    font-size: 13px;
}